.st-autocomplete {
  position: relative;
}

.st-suggestion-list {
  list-style: none;
  position: absolute;
  left: 0;
  top: 10px;
  padding: 0;
  text-align: left;
  width: 150px;
  border: 1px solid black;
  border-radius: 4px;
  padding: 5px;
  cursor: pointer;
}

.st-autocomplete-input {
  width: 100%;
  font-size: 18px;
}

.st-suggestion {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  background: white;
}

.st-suggestion.active {
  background: #e3e3e3;
}
