.App {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.label {
    font-weight: 400;
    padding: 0 10px;

}

.result {

    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.container {
    min-height: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
